.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(212, 229, 231);
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
}
.quantity {
  padding: 1%;
}
.qty {
  width: 17px;
  align-content: center;
  font-size: medium;
  color: black;
}
.submit-btn {
  margin-left: 5%;
}
