body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ad1111;
  overflow: hidden;
  color: white;
  position: sticky;
  top: 0;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 36px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(191, 174, 174);
}

.left {
  float: left;
}

.right {
  float: right;
}
.container {
  text-align: center;
  /* width: 80%; */
  margin: 0 auto;
  padding: 1%;
  /* background-color: blue; */
}

/* .btn-primary {
  background-color: rgb(66, 134, 194);
  color: white;
  cursor: pointer;
} */

.search-bar {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* main body  */

.menu {
  display: flex;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.food-menu-box {
  display: flex;
  align-items: center;
}

.food-menu-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.food-menu-desc {
  padding: 20px;
}

.food-menu-desc h4 {
  margin-top: 0;
}

.food-price {
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
}

.food-detail {
  color: #6c757d;
}

.order-now-link {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

/* buttons  */
.update-btn {
  background: rgb(83, 144, 224);
  height: 35px;
  padding: 8%;
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
  font-size: 12px;
  text-transform: uppercase;
}
.update-btn:hover {
  cursor: pointer;
  background: rgb(95, 158, 240);
}
.del-btn {
  background: red;
  height: 50px;
  padding: 8%;
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.del-btn:hover{
  background-color: rgb(242, 45, 45);
}
